<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExamManagement.Properties.Settings.ExamConnectionString"
            connectionString="Data Source=DESKTOP-KIMOシ\SQLEXPRESS;Initial Catalog=Exam;User ID=Kimo;Password=usher13200"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>